torch
torchvision
pytorch-lightning
numpy
matplotlib
pandas
rasterio
geopandas
tqdm
albumentations
google-cloud-storage
fsspec
gcsfs
requests_html
earthengine-api
mercantile
seaborn
gdown
matplotlib-scalebar
georeader-spaceml
huggingface_hub[cli,torch]