torch
torchvision
pytorch-lightning
numpy
matplotlib
seaborn
scipy
pandas
rasterio
geopandas
fastprogress
tqdm
black
isort
mypy
opencv-python
albumentations
seaborn
google-cloud-storage
pyprojroot
fsspec
gcsfs
requests_html